.card-home {
  display: flex;
  flex-direction: column;
}

.home {
  width: 100%;
  @include sm {
    display: flex;
  }
  &-content {
    height: 100%;
    position: relative;
  }
}

.intro {
  padding: 10px;
  @include sm {
    position: absolute;
    z-index: 200;
    display: flex;
    width: 100%;
    padding: 15px 20px 15px 30%;
  }

  &-title {
    float: left;
    text-align: initial;
    @include sm {
      float: none;
      width: 30%;
    }

    &__sub {
      font-size: $h3FontSize;
    }
  }
  &-quote {
    text-align: left;
    @include sm {
      width: 70%;
    }
  }
}

.product-slider {
  width: 100%;
  bottom: 15px;
  @include sm {
    position: absolute;
    z-index: 100;
  }
}

.link-catalog {
  margin: 15px 10px;
  a {
    display: flex;
    align-items: center;
  }
}
