.app {
  text-align: center;
  background-color: #e3e6df;
  min-height: 100vh;
  display: flex;
  font-size: $baseFontSize;
}

.card {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: $white-dark;
  width: calc(100%);
  -webkit-box-shadow: 5px 5px 20px 10px rgba(219,219,219,1);
  -moz-box-shadow: 5px 5px 20px 10px rgba(219,219,219,1);
  box-shadow: 5px 5px 20px 10px rgba(219,219,219,1);
  @include sm {
    border-radius: 50px;
    margin: 28px;
  }

  &-content {
    overflow-y: auto;
    max-height: 90vh;
    width: 100%;
  }
}
