.sidebar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10px;
  }
  &-item {
    width: 100%;
    padding: 10px 0;
    font-size: 26px;
    transition: $transition;

    &__active {
      background-color: $white;
      color: $green;
    }
  }
  &-curved {
    position: absolute;
    top: 100px;
    right: 0;

    &__svg {
      //filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }
  }
}
